<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97575936623-r3b16cv1p4brs3qsukp4cl72bcdfglne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97575936623-r3b16cv1p4brs3qsukp4cl72bcdfglne</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>97575936623-sv5bfbv1c2lov08j1iq3920rvlcqtqvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxSJ0bypu6Eokg5SKqOBhVxcza1gwyvgI</string>
	<key>GCM_SENDER_ID</key>
	<string>97575936623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esgomez.platzitripsapp</string>
	<key>PROJECT_ID</key>
	<string>platzitripsflutter-3365c</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitripsflutter-3365c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97575936623:ios:ac40de68a1256f956ce39a</string>
	<key>DATABASE_URL</key>
	<string>https://platzitripsflutter-3365c.firebaseio.com</string>
</dict>
</plist>